<div class="menu" *ngFor="let item of menu">
    <div class="menu-item">
        <button mat-button class="menu-button" *ngIf="item.link == null" (click)="item.subMenuShow = !item.subMenuShow">
            <div class="menu-info">
                <mat-icon style="margin-right:10px;">{{item.icon}}</mat-icon>
                <p>{{item.name}}</p>
            </div>
        </button>
        <button mat-button class="menu-button" *ngIf="item.link != null" routerLink="/{{item.link}}" (click)="item.subMenuShow = !item.subMenuShow">
            <div class="menu-info">
                <mat-icon style="margin-right:10px;">{{item.icon}}</mat-icon>
                <p>{{item.name}}</p>
            </div>
        </button>
        <div *ngIf="item.subMenu != null && item.subMenuShow == true">
            <div class="subMenu1" *ngFor="let subItem of item.subMenu">
                <button mat-button class="menu-button sub-menu" routerLink="{{subItem.link}}">
                    <div class="menu-info">
                        <p style="margin-left: 25px;">{{subItem.name}}</p>
                        <mat-icon>{{subItem.icon}}</mat-icon>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>