.menu-button{
    width: 100%;
    height: 45px;
    padding-top: 5%;
    line-height: 25px;
    font-size: 15px;
    text-align: left;
    color:#1e3f5a;

}
.menu-info{
    display: inline-flex;
}
.subMenu1{
    background-color:#36658C;
}
.sub-menu{
    color:white;
}